<!DOCTYPE html>
<html>
<head>
	<title>OpenShop</title>
	<link rel="stylesheet" type="text/css" href="css/style1.css">
</head>
<body id="different">
	<header id="main-header">
		<div class="container">
			<h1>OpenShop</h1>
		</div>
	</header>

	<nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="login.html">Shop</a></li>
				<li><a href="login.html">Sell</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="login.html">Log In</a></li>
				
			</ul>
		</div>
	</nav>
	<section>
		<div class="container">
			<div class="aboutUs">
				<p> <u>Name:</u> <b>Saadman Malik</b> <br>
					<u>ID:</u> 154420 <br> <u>Department:</u> CSE <br>
					<u>Programme:</u> Bsc in Engg. <br>
					<u>Institution:</u> Islamic University of Technology <br>
				</p>
			</div>

			<div class="aboutUs">
				<p> <u>Name:</u> <b> Mezbaur Rahman </b> <br>
				 	<u>ID:</u> 154401 <br> <u> Department:</u> CSE <br>
					<u>Programme:</u> Bsc in Engg. <br>
					<u>Institution:</u> Islamic University of Technology <br>
				</p>
			</div>

			<div class="aboutUs">
				<p> <u>Name:</u> <b> Shahed Ahmed </b> <br>
				 	<u>ID:</u> 154418 <br> <u> Department:</u> CSE <br>
					<u>Programme:</u> Bsc in Engg. <br>
					<u>Institution:</u> Islamic University of Technology <br>
				</p>
			</div>
		</div>
	</section>
</body>
</html>